<% if @task.errors.any? %>
  <div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    <%= @task.errors.full_messages.join(', ') %>
  </div>
<% end %>

<%= form_for :task, url: path, method: method do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.label :position %>
    <%= f.text_field :position, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <div class="form-check">
      <%= f.check_box :completed, class: 'checkbox' %>
      <%= f.label :completed, class: 'checkbox' %>
    </div>
  </div>

  <div class='form-group'>
    <%= f.submit %><br>
    <%= link_to 'Cancel',
      tasks_path,
      data: { confirm: 'Leave this page and lose potential changes?' }
    %>
  </div>
<% end %>
