<h1>Tasks#index</h1>
<table class='table'>
  <% @tasks.each do |task| %>
    <tr>
      <td>
        <%= form_for :task, url: task_path(task), method: :patch do |f| %>
          <%= f.check_box :completed, { checked: !!task.completed_at } %>
          <%= f.submit %>
        <% end %>
      </td>
      <td>
        <%= task.name %>
      </td>
      <td>
        <%= link_to 'view details', task_path(task) %>
      </td>
      <td>
        <%= link_to 'Delete',
          task_path(task),
          method: :delete,
          data: { confirm: 'Permanently Destroy This Todo Item?' }
        %>
      </td>
    </tr>
  <% end %>
</table>
<%= link_to "Create New Task", new_task_path %>
