<% completed_key = 'task[completed]' %>
<% task_id_name = 'value' %>
<script type="text/javascript">
  $(document).ready(function(){
    $("input:checkbox[name='completed']").change(function() {
      if($(this).is(":checked")) {
        $.ajax({
          url: "<%= task_path('__id__') %>".replace('__id__', $(this).attr('<%= task_id_name%>')),
          type: 'PATCH',
          data: { "<%= completed_key %>":"1", "show_completed":"<%= @show_completed %>" }
        });
      } else {
        $.ajax({
          url: "<%= task_path('__id__') %>".replace('__id__', $(this).attr('<%= task_id_name%>')),
          type: 'PATCH',
          data: { "<%= completed_key %>":"0", "show_completed":"<%= @show_completed %>" }
        });
      }
    });
  });
</script>


<div class='container'>
  <h1>Things To Do</h1>

  <div class="row justify-content-end">
    <div class="btn-group" data-toggle="buttons">
      <%= link_to 'hide completed',
        tasks_path,
        method: :get,
        class: 'btn btn-outline-secondary btn-sm'
      %>
      <%= link_to 'show completed',
        tasks_path(show_completed: true),
        method: :get,
        class: 'btn btn-outline-secondary btn-sm'
      %>
    </div>
  </div>

  <table class='table'>
    <% @tasks.each do |task| %>
      <tr>
        <td>
          <%= check_box_tag :completed, task.id, !!task.completed_at %>
        </td>
        <td>
          <%= task.position %>
        </td>
        <td>
          <%= task.name %>
        </td>
        <td>
          <%= link_to 'details', edit_task_path(task) %>
        </td>
        <td>
          <%= link_to 'Delete',
            task_path(task),
            method: :delete,
            data: { confirm: 'Permanently Destroy This Todo Item?' }
          %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= link_to "Create New Task", new_task_path %>
</div>
