<div class='container'>
  <h1>Create A New ToDo Item</h1>

  <%= form_for :task, url: tasks_path do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, autofocus: true %>
    </p>

    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </p>

    <p>
      <%= f.label :completed %><br>
      <%= f.check_box :completed %>
    </p>

    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
